body {
  background-color: rgb(245, 189, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#container {
  background-color: rgb(250, 235, 247);
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

button {
  margin-top: 10px;
}
